/**
 * Metabox Tabs
 */
ul.metabox-tabs {
	display: none;
	margin-bottom: 5px;
	padding: 0 10px 0 10px;
	height: 24px;
	margin: -6px -6px 6px !important;
	padding-top: 5px; 
}
ul.metabox-tabs li {
	list-style: none;
	display: inline;
	font-size: 11px;
}
ul.metabox-tabs li.tab a {
	display: block;
	float: left;
	margin-right: 4px;
	padding: 5px 6px;
	filter:alpha(opacity=50);
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	background: #fff;
	color: #000;
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	font-weight: bold;
	text-decoration: none;
	zoom: 1;
}
ul.metabox-tabs li.tab a.active,
ul.metabox-tabs li.tab a:hover {
	background: #fff;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
ul.metabox-tabs li.link {
	margin-left: 4px;
}
ul.metabox-tabs li.link a {
	text-decoration: none;
}
ul.metabox-tabs li.link a:hover {
	text-decoration: underline;
}
div.tab-content .form-table th {
	font-size: 13px;
}
.good, .warn, .wrong {
	font-weight: bold;
}
.good {
	color: green;
}
.warn {
	color: maroon;
}
.wrong {
	color: red;
}
#current_seo_title span {
	background-color: lightyellow;
	padding: 2px 5px;
}
#snippet {
	margin: 0 0 10px 0;
	padding: 0 5px;
	font-family: Arial, sans-serif;
	max-width: 540px;
	line-height: 15px;
	font-size: 13px !important;
	font-style: normal;
} 
#snippet a {
	text-decoration: none;
}
#snippet .title {
	color: #11c;
	font-size: 16px !important;
	line-height: 19px;
	text-decoration: underline;
}
#snippet .desc {
	color: #000;
}
#snippet .url {
	color: #282;
}
#snippet .meta {
	color: #767676;
}
#snippet .util {
	color: #4272DB;
}
#snippet p {
	margin: 0 !important;
}
#snippet a:hover {
	text-decoration: underline;
}
#snippet {
	margin-bottom: 10px;
}
.wpseo_yahoo_kw {
	display: block;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #ddd;
	margin: 3px 8px 3px 0;
	padding: 3px;
}
.wpseo_hidden {
	display: none;
}